# Auto detect text files and perform LF normalization
* text=auto

# Files not included in a tarball/zipball file
.github export_ignore
actions export_ignore
registers export_ignore
ENV* export_ignore
