# Auto detect text files and perform LF normalization
* text=auto

# Files not included in a tarball/zipball file
.gitattributes export-ignore
.gitignore export_ignore
.github export-ignore
actions export-ignore
registers export-ignore
ENV* export-ignore
